{% extends 'admin_layout.html' %}
{% block 'page_name' %} Inventory {%endblock %}
{% block 'sub_page_name' %} List  {%endblock %}
{% block 'main_content' %}
{% load static %}
<div style='margin:20px;margin-top:0px;background:lightgrey;height:45px;border-radius:5px;padding:10px 50px;color:white'>
		<span style='margin-left:30px;'>Number of rows: <select id='paginate' style='width:50px;'><option>10</option><option>20</option><option>50</option></select></span>
		<span style='margin-left:30px;'>Filter Rows: <input id='search' autocomplete='off' style='width:150px;height:25px;border-radius:5px;' type='text' placeholder='Search this table' /> </span>
		<span style='margin-left:30px;margin-right:30px;'> Sort by Key:  <select id='sort' style='width:150px;height:25px;border-radius:5px;'><option value='none'>None</option><option value='asc'>Alphabetic (ASC) </option><option value='desc'>Alphabetic (DESC)</option></select> </span>
		<a href="{% url 'inventory_create' %}" class='btn btn-info' style='height:30px;'><i class='fa fa-plus'></i> Inventory</a>

	</div>
	<div class="col-sm-12 col-md-12 col-lg-12">
            <section class="panel">
              <header class="panel-heading text-center">
                <h3 class='text-center'><b>INVENTORY LIST</b></h3>
              </header>
              <table class="table table-hover">
                <thead>
                  <tr>
                      <th>#</th>
                    <th>Name</th>
                      <th>Selling Price (N)</th>
                    <th>Quantity Left</th>
                      <th>Available Empties</th>
                      <th>Owed Empties</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id='staff'>
                  {% if inventory_list %}
                  {% for inventory in inventory_list %}
					<tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ inventory.name|title }}</td>
                        <td>{{ inventory.selling_price}}</td>
					<td>{{ inventory.quantity_left }}</td>
                        <td>{{ inventory.empty }}</td>
                        <td>{{ inventory.owed_empty }}</td>


					<td style=''>
                    <a style="width:100px;height:100px;display:inline;margin-right:5px;" href="{% url 'inventory_detail' inventory.id %}" class='btn btn-primary'> View </a>
                    </td>
					</tr>

                  {% endfor %}
                  {% else %}
						<tr><td colspan=6><h1 class='text-center'>NO INVENTORY REGISTERED YET</h1></td></tr>
                  {% endif %}


                </tbody>
              </table>
                <div class="text-center"><br /><h3>
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href = "?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }} "> previous </a>
                        {% endif %}

                        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                        {% if page_obj.has_next %}
                            <a href = "?page={{ page_obj.next_page_number }} ">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }} "> last &raquo; </a>
                        {% endif %}
                    </span></h3>
                </div>
            </section>
          </div>
        </div>
<script src="http://localhost/alyaqeen/public/js/jquery.js"></script>



{% endblock %}